<% include partials/header %>

<h1><%= vinyl.artist %></h1>
<h1><%= vinyl.album %></h1>

<img src="<%= vinyl.image %>">
<h4>Details: </h4>
<p><%= vinyl.description %></p>

<% include partials/footer %>
